*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  --inter-font: 'Inter', sans-serif;
  --roboto-font: 'Roboto Mono', monospace;  
  --bg-primary: #242424;
  --bg-primary-opacity: #24242480;
  --color-primary: #DEE4ED;
  --border-primary: #242424;
  --swatch-border: #DEE4ED;
  --box-shadow: #DEE4ED;
  --bg-hex: #242424;
  --color-hex: #DEE4ED;
  --border-hex: #DEE4ED;

  background-color: var(--bg-primary);
  color: var(--color-primary);
}

body[data-theme="light"] {
  --bg-primary: #DEE4ED;
  --bg-primary-opacity: #DEE4ED80;
  --color-primary: #242424;
  --border-primary: #DEE4ED;
  --swatch-border: #242424;
  --box-shadow: #242424;
}

.app-container {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  background-color: var(--bg-primary);
  color: rgba(255, 255, 255, 0.87);
  width: 100dvw;
  min-height: 100dvh;
}


/* Typography */
.sub-heading {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-family: var(--inter-font);
  font-size: .875rem;
  font-weight: 300;
}

/* .p--small {
  color: var(--color-primary);
  font-family: var(--inter-font);
  font-size: .75rem;
} */
/* 
.p--medium {
  font-family: var(--roboto-font);
  font-size: .875rem;
}

.p--large {
  color: var(--color-primary);
  font-family: var(--inter-font);
  font-size: 1rem;
} */


/* Buttons */
.btn {
  font-family: var(--inter-font);
  background-color: #28496c;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
  border: 1px solid #3D4B60;
  border-radius: .3em;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: 1px solid var(--border-primary);
  box-shadow: 0 0 .375em 1px var(--box-shadow);
}

/* Modal */
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: var(--roboto-font);
  box-shadow: 0 0 .5em 1px var(--box-shadow);
}

.modal::backdrop {
  background-color: #24242480;
}


/* Header */
.header {
  height: max-content;
  padding: .5em 1em;
}

.theme-btn {
  font-weight: 300;
  padding: .25em .5em;
}


/* Form */
.form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'select select'
  'picker btn';
  gap: .5em;
  max-width: 768px;
  margin: 0 auto;
}

.select-wrapper {
  grid-area: select;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-element {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: var(--inter-font);
  font-size: .875rem;
  height: 100%;
  min-height: 2em;
  padding: .5em;
  border: 1px solid var(--color-primary);
  border-radius: .3em;
  cursor: pointer;
}

.select-element:hover,
.select-element:focus,
.select-element:active {
  box-shadow: 0 0 .25em 1px var(--box-shadow);
}

.color-picker-wrapper {
  grid-area: picker;
  position: relative;
}

.swatch {
  width: 3em;
  height: 100%;
  border: 1px solid var(--swatch-border);
  border-radius: .3em;
}

.popover {
  position: absolute;
  z-index: 1;
}

.color-btn {
  grid-area: btn;
  justify-self: end;
  font-family: var(--inter-font);
  width: max-content;
  margin-left: 1em;
  padding: .375em .75em;
}

.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.swatch:hover,
.swatch:focus,
.swatch:active {
  border: 1px solid var(--border-primary);
  box-shadow: 0 0 .375em 1px var(--box-shadow);
  cursor: pointer;
}


/* Color scheme */
.color-scheme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
}

.color-scheme-container__top {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}

.top--left {
  justify-self: end;
}

.top--right {
  background-color: var(--bg-hex);
  color: var(--color-hex);
  font-family: var(--roboto-font);
  width: max-content;
  padding: .375em .75em;
  border: 1px solid var(--border-hex);
  border-radius: .3em;
  cursor: pointer;
}

.p--seed-color:hover,
.p--seed-color:focus,
.p--seed-color:active {
  box-shadow: 0 0 .5em var(--box-shadow);
}

.scheme-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 1em auto 0;
  box-shadow: 0 0 .5em var(--box-shadow);
}

.color-item {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80px
}

.color__p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-hex);
  color: var(--color-hex);
  font-family: var(--roboto-font);
  padding: .5em 1em;
  border: 1px solid var(--border-hex);
  border-radius: .3em;
}

.color-item:hover,
.color-item:focus,
.color-item:active {
  box-shadow: 0 0 0 1px #DEE4ED inset, 0 0 1em #242424 inset;
  cursor: pointer;
}


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}


/* Media queries */
@media (min-width: 480px) {
  /* .p--small {
    font-size: .875rem;
  }

  .p--medium {
    font-size: 1rem;
  } */

  p {
    font-size: 1rem;
  }

  .form {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'picker select btn';
  }

  .color-btn {
    margin-left: unset;
  }

}

@media (min-width: 768px) {
  /* .p--small {
    font-size: 1rem;
  } */

  .btn,
  .select-element {
    font-size: 1rem;
  }

  .form {
    width: 50%;
  }

  .swatch {
    width: 4em;
  }

  .color-scheme-container {
    margin: 1em 0;
  }

  .color-wrapper {
    flex-direction: row;
  }
/* 
  .color__p {
    font-size: 1rem;
  } */
}

@media (min-width: 1024px) {
  .form {
    gap: 2em;
  }
}