*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* --inter-font: 'Inter', sans-serif; */
  --bg-primary: #242424;
  --bg-primary-opacity: #24242480;
  --color-primary: #DEE4ED;
  --border-primary: #242424;
  --border-hover: #DEE4ED;
  --box-shadow: #DEE4ED;
  --btn-bg: #28496c;
  --btn-color: #DEE4ED;
  --swatch-border: #DEE4ED;
  --hex-bg: #242424;
  --hex-color: #DEE4ED;
  --hex-border: #DEE4ED;

  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
}

body[data-theme="light"] {
  --bg-primary: #DEE4ED;
  --color-primary: #242424;
  --border-primary: #DEE4ED;
  --box-shadow: #242424;
  --swatch-border: #242424;
}

.app-container {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  width: 100dvw;
  min-height: 100dvh;
}


/* Typography */
p {
  font-size: .875rem;
  font-weight: 300;
}

/* Buttons */
.btn {
  font-family: inherit;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-size: .875rem;
  font-weight: 300;
  border: 1px solid var(--btn-bg);
  border-radius: .3em;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: 1px solid var(--border-hover);
  box-shadow: 0 0 .375em 1px var(--color-primary);
}

/* Modal */
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  box-shadow: 0 0 .5em 1px var(--color-primary);
}

.modal::backdrop {
  background-color: var(--bg-primary-opacity);
}


/* Header */
.header {
  height: max-content;
  padding: .5em 1em;
}

.theme-btn {
  padding: .25em .5em;
}


/* Form */
.form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    'select select'
    'picker btn';
  gap: .5em;
  max-width: 768px;
  margin: 0 auto;
}

.select-wrapper {
  grid-area: select;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-element {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: inherit;
  font-size: .875rem;
  height: 100%;
  min-height: 2em;
  padding: .5em;
  border: 1px solid var(--color-primary);
  border-radius: .3em;
  cursor: pointer;
}

.color-picker-wrapper {
  grid-area: picker;
  position: relative;
}

.swatch {
  width: 3em;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-radius: .3em;
}

.popover {
  position: absolute;
  z-index: 1;
}

.color-btn {
  grid-area: btn;
  justify-self: end;
  width: max-content;
  margin-left: 1em;
  padding: .375em .75em;
}

.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Form hover/focus/active */
.select-element:hover,
.select-element:focus,
.select-element:active {
  box-shadow: 0 0 .25em 1px var(--color-primary);
}

.swatch:hover,
.swatch:focus,
.swatch:active {
  border: 1px solid var(--border-hover);
  box-shadow: 0 0 .375em 1px var(--color-primary);
  cursor: pointer;
}


/* Color scheme */
.color-scheme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em .5em;
}

.color-scheme-container__top {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}

.top__left {
  justify-self: end;
}

.top__right {
  background-color: var(--hex-bg);
  color: var(--hex-color);
  text-align: center;
  padding: .25em .5em;
  border: 1px solid var(--hex-border);
  border-radius: .3em;
  cursor: pointer;
}

.scheme-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 1em auto 0;
  box-shadow: 0 0 .5em var(--color-primary);
}

.scheme__item {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80px
}

.scheme__p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--hex-bg);
  color: var(--hex-color);
  padding: .5em 1em;
  border: 1px solid var(--hex-border);
  border-radius: .3em;
}

/* Color scheme hover/focus/active */
.top__right:hover,
.top__right:focus,
.top__right:active {
  box-shadow: 0 0 .5em var(--color-primary);
}

.scheme__item:hover,
.scheme__item:focus,
.scheme__item:active {
  box-shadow: 0 0 0 1px var(--hex-color) inset, 0 0 1em var(--hex-bg) inset;
  cursor: pointer;
}


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}


/* Media queries */
@media (min-width: 480px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'picker select btn';
  }
  
  .color-btn {
    margin-left: unset;
  }
}


@media (min-width: 768px) {
  p {
    font-size: 1rem;
  }

  .btn,
  .select-element {
    font-size: 1rem;
  }

  .form {
    width: 50%;
  }

  .swatch {
    width: 4em;
  }

  .color-scheme-container {
    margin: 1em 0;
  }

  .scheme-wrapper {
    flex-direction: row;
  }
}


@media (min-width: 1024px) {
  .form {
    gap: 2em;
  }
}